@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* 
seletor {
  propriedade: valor;
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdffdab9;
}

header {
  display: flex;
  margin: 2rem 0;
  gap: 1rem;
}

a {
  color: #111827;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #10b981;
  transition: 0.3s ease-in-out;
}

main {
 
  margin: 1px 1rem;
}

.profile__container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.profile__avatar {
  width: 100%;
  max-width: 20rem;
  border-radius: 4px;
  box-shadow: 4px 8px 12px #6b7280;
}
.sonic {
  border: 16px dashed #95b8f6
}

.texto h1{
  font-size: 48px;
  margin-bottom: 25px;
}

.Especialidades {
font-size: 15px;
margin-bottom: 50px;
}

.About{
 text-align: center;
 margin-top: 30px;
}
.About span {
  background-color: gray;
  border-radius: 16px;
  Padding: 5px;
 
}

.About p{
margin-top: 16px;
font-size: 16px;
}

hr{
 background:repeating-linear-gradient(45deg, transparent, transparent 10px, #99ffff 10px, #99cc99 20px), linear-gradient(to bottom, #cccccc, #999999); color:transparent;
height:5px; border:0;
margin: 16px 0;

}

.habilities {
text-align: center;

}

.habilities span{
background-color: gray;
border-radius: 16px;
padding: 5px;
}

.habilities p {
  margin-top: 16px;
  font-size: 16px;

}

.Projects {
text-align: center;
}

.Projects span{
background-color: gray;
border-radius: 16px;
padding: 5px;
}

.Projects p{
margin-top: 16px;
font-size: 16px;
}

.welcome{
text-align: right;
padding-right: 180px;
}